<article class="border my-2 rounded row align-middle">
  <figure class="col-4">
      <%= image_tag("among.jpg", class: "rounded-circle mt-2", width: "125", height: "125") %>
  </figure>
  <div class="col-8">
    <%= render 'posts/form' %>
  </div>
</article>

<% @posts.each do |post| %>
<div class="row border py-2">
  <div class="col-4">
    <%= image_tag("among.jpg", class: "rounded-circle mt-2", width: "125", height: "125") %>
  </div>
  <div class="col-8">
    <strong><%= post.user.name %></strong><br/>
    <small><%= post.user.username %></small><br/>
    <p><%= post.comment %></p>
    <% if user_signed_in? && current_user.id == post.user_id %>
      <div class="d-flex">
        <%= link_to post do%>
          <span class='icon mx-2 text-dark'><i class="fa fa-link" aria-hidden='true'></i></span>
        <% end %>
        <%= link_to edit_post_path(post) do%>
          <span class='icon mx-2 text-dark'><i class='fa fa-pencil' aria-hidden='true'></i></span>
        <% end %>
        <%= link_to post, method: :delete, data: { confirm: 'Are you sure?' } do%>
          <span class='icon mx-2 text-dark'><i class='fa fa-trash-o' aria-hidden='true'></i></span>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
<% end %>