<!DOCTYPE html>
<html>
  <head>
    <title>MembersOnlyProject</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag "https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"%>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
   
   
    <%= flash_message %>

    <nav class="navbar navbar-dark bg-dark">
      <%= link_to root_path, class: 'navbar-brand' do%>
        <h1 class="my-1">POST ME!</h1>
      <% end %>
      <div class="d-flex justify-content-between align-items-center">
        <%= link_to 'New Post', new_post_path, class:'btn btn-light my-2 my-sm-0' %>
        <% if user_signed_in? %>
          <p class="m-0">
            <%= link_to current_user.name, edit_user_registration_path, class: 'btn text-light m-2' %>
          </p>
          <p class="m-0">
            <%= link_to 'Logout', destroy_user_session_path, method: :delete, class: 'btn text-light m-2' %>
          </p>
        <% else %>
          <p class="m-0">
            <%= link_to 'Sing In', new_user_session_path, class: 'btn text-light m-2' %>
          </p>
          <p class="m-0">
            <%= link_to 'Sing Up', new_user_registration_path, class: 'btn text-light m-2' %>
          </p>
        <% end %>
       
      </div>
    </nav>
    
    <%= yield %>
  </body>
</html>
